# Игнорировать виртуальное окружение
venv/

# Игнорировать временные файлы и кеши Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать IDE файлы
.vscode/
.idea/

# Игнорировать временные файлы ОС
.DS_Store
Thumbs.db

# Игнорировать  файлы
data/